LOG_LEVEL=debug
PORT=4101
ENV=dev

JWT_SECRET=your-secret-key
JWT_EXPIRATION_TIME=3600s

DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=zklink-intent-url
DATABASE_CONNECTION_IDLE_TIMEOUT_MS=12000
DATABASE_CONNECTION_POOL_SIZE=100

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET=intent-url
AWS_KEY_PREFIX=dev
AWS_S3_URL=https://zklink-intent.s3.ap-northeast-1.amazonaws.com

WITNESS_PRIVATE_KEY=

Nova_RPC_URL=
Ethereum_RPC_URL=
Zksync_RPC_URL=
Linea_RPC_URL=
Arbitrum_RPC_URL=
Optimism_RPC_URL=
Base_RPC_URL=
Mantle_RPC_URL=
Manta_RPC_URL=
Scroll_RPC_URL=

TGBOT_WEBHOOK_URL=
TGBOT_TOKEN=7187510515:AAFHQbGJCxOCbYtN2J93z-UkFT79H1k13n4
TGBOT_MINI_APP=whatevernnannebot